<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>

<body>
  <h1>Welcome to Crop Prediction System</h1>
  <a href="/registerUser">Register User</a>
  <a href="/predictCrop">Predict Crop</a>
</body>

</html>